mixin renderToys(toys)
  - for (var i = toys.length-1; i > 1; i=i-3)
    +renderRow(toys[i], toys[i-1], toys[i-2])
  - if (i == 1)
    .row.vspace-two
      +renderOne(toys[1])
      +renderOne(toys[0])
  - else
    .row.vspace-two
      +renderOne(toys[0])

mixin renderRow(first, second, third)
  .row.vspace-two
    +renderOne(first)
    +renderOne(second)
    +renderOne(third)

mixin renderOne(toy)
  .col-md-4
    .listing
      h3
        a(href="/toys/#{toy.id}")= toy.title
      p
        img.thumbnail.img-responsive(src="#{toy.image.cdnUri}/detail_#{toy.image.files[0]}")
      p !{toy.description}
      p.text-success
        | Age group: #{toy.agegroup}
