extends ../layouts/default

block main
  .container.white-bg
    h1= title
    if (toy.isNew)
      hr

block content
  - var action = '/toys'
  - action += toy.isNew? '/new' : '/' + toy.id

  .container.white-bg
    form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")
      input(type="hidden", name="_csrf", value="#{csrf_token}")
      .container

        - if (!toy.isNew)
          input(type="hidden", name="_method", value="PUT")

        .form-group
          label.control-label.col-lg-2(for='title') Title
          .col-lg-6
            input#title.form-control(type='text', name="title", value=toy.title)
            span.help-block Elevator pitch for the toy

        .form-group
          label.control-label.col-lg-2(for='description') Description
          .col-lg-6
            textarea#description.form-control(rows="4", name="description")= toy.description
            span.help-block Describe the toy a bit.  You can use &nbsp;
              a(href="http://daringfireball.net/projects/markdown/", target="_blank") markdown.

        .form-group
          label.control-label.col-lg-2(for='file') Image
          .col-lg-6
            input#file.form-control(type='file', name="image[]")
            span.help-block Upload a photo of how it looks

        .form-group
          label.control-label.col-lg-2(for='latitude') Latitude
          .col-lg-6
            input#title.form-control(type='text', name="latitude", value=toy.latitude)
            span.help-block Latitude of location from where they can pick up the toy.  Find
              a(href='http://www.latlong.net/', target='_blank') &nbsp;here

        .form-group
          label.control-label.col-lg-2(for='longitude') Longitude
          .col-lg-6
            input#title.form-control(type='text', name="longitude", value=toy.longitude)
            span.help-block Longitude of location from where they can pick up the toy.  Find
              a(href='http://www.latlong.net/', target='_blank') &nbsp;here

        .form-group
          .col-lg-offset-2.col-lg-10
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/toys', title="cancel") Cancel
        .vspace-two

  .vspace-three

block extra_js
  script.
    mixpanel.track('Toy edit page')
