extends ../layouts/default

block content
  .container.white-bg
    h2= toy.title
    .visible-xs
      p !{toy.description}
      p.vspace-two
        a.btn.btn-primary(href="/toys/#{toy.id}/interested") I'm interested
    .hidden-xs
      .meta.muted
        - if (toy.user)
          - var name = toy.user.name ? toy.user.name : toy.user.username
          p.no-margin
            | Created by &nbsp;
            a(href="/users/"+toy.user._id)= name
            | &nbsp;on&nbsp;
            = formatDate(toy.createdAt)
      hr
      .col-sm-6.col-md-6.col-lg-6
        p !{toy.description}
        p.vspace-two
          a.btn.btn-primary.disabled(href="/toys/#{toy.id}/interested") I'm interested
        - if (allowEdit)
          form.center.form-inline.confirm(action="/toys/"+toy.id, method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            a.btn.btn-success(href='/toys/'+toy._id+'/edit', title="edit") Edit
            &nbsp;&nbsp;
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger(type="submit") delete
      .col-sm-6.col-md-6.col-lg-6
        p.text-danger
          strong The toy is available at this location
        #map-canvas
      .vspace-four

block extra_js
  script.
    mixpanel.track('Show toy listing page')
    var address = {
      latitude: #{toy.latitude},
      longitude: #{toy.longitude},
    }
    showMap(address)
